.ArticleCard{
    min-width: 0;
    background-clip: border-box;
    border-radius: 0.5rem;
    background-color: rgb(63, 63, 63);
    margin: 2rem!important;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    width: 300px;
    height: 470px;
    background: #D2D2D2;
    border-radius: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-header{
    justify-content: center;
    padding: 0 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0 solid #dee2e6;
} 

time {
    text-align: center;
    width: 52px;
    display: flex;
    flex-direction: column;
    line-height: 1;
    position: relative;
}

time .h4 {
    background-color: #000;
    color: #fff;
    padding: 0.3rem 0.5rem 0.15rem;
    border-radius: 0.25rem 0.25rem 0 0;
    margin-bottom: 0;
}

time .small {
    background-color: #333;
    color: #fff;
    padding: 0.15rem 0.4rem 0.35rem;
    border-radius: 0 0 0.25rem 0.25rem;
}

.photo-product img{
    max-width: 80%;
    min-width: 80%;
    border-radius: 5%;
    
}

.desc-product{
    color: #000;
    font-weight: 500;
    text-align: left;
    width: 100%;

}

.buying-product{
    width: 100%;
   
    text-align: left;
}

.buying-product{
    color: #000;
    font-weight: 500;
}